/* 
    Document   : login /
    Created on : 11-ago-2011, 13:51:24
    Author     : Manu
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

